
  <h1>Lista de Productos</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>