<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Productos</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketClient.js"></script>